# Prerequisites
*.d
*.pcm

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
calibrate
peak_finder
prefit
calibration

# Input and output files
*.root
*.eps
*.png
*.dat
*.txt
*.pdf
*.log
!/examples/*.png

# CMake
!CMakeLists.txt
/build
